<tr>
	<td><%= course_type.name %></td>
	<td><%= course_type.default_web_description %></td>
	<td><%= course_type.default_email_description %></td>
	<td><%= link_to 'Show', course_type %></td>
	<td><%= link_to 'Edit', edit_course_type_path(course_type) %></td>
	<td><%= link_to 'Delete', course_type_path(course_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>