<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
	  <div id="errorExplanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited
		  this user from being created:</h2>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		<% end %>
		</ul>
	  </div>
  <% end %>
  
	<p>
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name %>
	</p>
	
	<p>
		<%= f.label:last_name %><br>
		<%= f.text_field :last_name %>
	</p>
	
	<p>
		<%= f.label :email %><br>
		<%= f.email_field :email %>
	</p>
	
	<p>
		<%= f.label :email_confirmation %><br>
		<%= f.email_field :email_confirmation %>
	</p>
	
	<p>
		<%= f.label :phone %><br>
		<%= f.phone_field :phone %>
	</p>
	
	<p>
		<%= f.label(:address_1, "Address line 1") %><br>
		<%= f.text_field :address_1 %><br>
		<%= f.label(:address_2, "Address line 2 (Floor, apt., etc.)") %><br>
		<%= f.text_field :address_2 %><br>
		<%= f.label :city %><br>
		<%= f.text_field :city %><br>
		<%= f.label :state %><br>
		<%= f.select(:state, f.us_states, { include_blank: true }) %><br>
		<%= f.label :zip %><br>
		<%= f.text_field :zip %><br>
		<%= f.label :country %><br>
		<%= f.text_field :country %><br>
	</p>
	
	<p>
		<%= f.label :password %><br>
		<%= f.password_field :password %>
	</p>
	
	<p>
		<%= f.label :password_confirmation %><br>
		<%= f.password_field :password_confirmation %>
	</p>

	
	<p>
		<%= f.submit %>
	</p>
<% end %>