<%= form_for(@privilege_level) do |f| %>
  <% if @privilege_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@privilege_level.errors.count, "error") %> prohibited this privilege_level from being saved:</h2>

      <ul>
      <% @privilege_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
