<tr>
	<td><%= course.name %></td>
	<td><%= course.class_location %></td>
	<td><%= course.start %></td>
	<td><%= course.end %></td>
	<td><%= link_to 'Edit', edit_course_path(course) %></td>
	<td><%= link_to 'Delete', course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
